@model IEnumerable<GestionScolarite.Models.Enseignant>

@{
    ViewBag.Title = "IndexEnseignant";
}

<h2>IndexEnseignant</h2>

<p>
    @Html.ActionLink("Create New", "CreateEnseignant")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnseignantId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnseignantId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnseignantId })
        </td>
    </tr>
}

</table>
