@model IEnumerable<GestionScolarite.Models.Enseignant>

@{
    ViewBag.Title = "IndexEnseignant";
}

<h2>IndexEnseignant</h2>

<p>
    @Html.ActionLink("Create New", "CreateEnseignant")
</p>
<table class="table">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matieres)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tr>
                @if (item.Matieres.Any())
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <ul>
                            @foreach (var matiere in item.Matieres)
                            {
                                <li>@matiere.Name</li>
                            }
                        </ul>
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        Pas de Matieres
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnseignantId }, new { @class = "text-dark" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EnseignantId }, new { @class = "text-dark" }) |
                    @Html.ActionLink("Delete", "DeleteEnseignant", new { id = item.EnseignantId }, new { @class = "text-dark" })
                </td>
            </tr>

        }


</table>
