@model GestionScolarite.Models.Enseignant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Affectation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (Model.Matieres != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Matieres)
            </dt>
            <dd>

                <ul>
                    @foreach (var matiere in Model.Matieres)
                    {
                        <li>@matiere.Name</li>
                    }
                </ul>

            </dd>

        }
 
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnseignantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
