<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestion de scolarite</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li class="nav-item active">
                <a class="sidebar-brand d-block align-items-center justify-content-center" href="@Url.Action("About", "Home")">
                    <div class="sidebar-brand-icon">
                        <img src="~/Content/img/esisa1.png" style="height:100px;width:100px" />
                    </div>
                    <div>

                        <span>Ecole superieur dingenieurie en science appliquees</span>
                    </div>
                    <style>
                        a {
                            color: white;
                            text-decoration: none;
                            margin-left: 10px;
                        }

                            a:hover {
                                color: darkblue;
                            }
                    </style>

                </a>
            </li>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("About", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>About</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Contact", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Contact</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Features
            </div>

            @if (User.Identity.IsAuthenticated == true)
            {
                if (User.Identity.Name == "admin")
                {

                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Accounts")">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Accounts Manager</span>
                        </a>
                    </li>
                }
                if (User.Identity.Name == "administratif")
                {

                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Administratif")">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Accounts Manager</span>
                        </a>
                    </li>
                }
                if (User.Identity.Name == "directeur")
                {

                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Directeur")">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Etudiants</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("IndexEnseignant", "Directeur")">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Enseignants</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Matieres")">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Matieres</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Affectations")">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Affectations</span>
                        </a>
                    </li>
                }
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Logout", "Accounts")">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action( "Login", "Accounts")">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Login</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Create", "Accounts")">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Signup</span>
                    </a>
                </li>
            }



        </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                       aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>
                            @if (User.Identity.IsAuthenticated == true)
                            {


                            <li class="font-weight-bold text-warning">
                                <a>Welcome @User.Identity.Name </a>
                                <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                     alt="...">
                            </li>
                            }

                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        @RenderBody()

                    </div>
                    <!-- End of Main Content -->
                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Your Website 2021</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            

            <!-- Bootstrap core JavaScript-->
            <script src="~/Content/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="~/Content/js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="~/Content/js/demo/chart-area-demo.js"></script>
            <script src="~/Content/js/demo/chart-pie-demo.js"></script>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>

</html>